{
	log [logz] {
		format  console
		level   DEBUG
		output file /var/log/caddy/caddy.log
	}
	auto_https off
}

awx.local:80 {
	reverse_proxy 192.168.1.51:80
}

awx.kallh.org:80 {
        reverse_proxy 192.168.1.51:80
}
